@import "./mixins.scss";
@import "./variables.scss";

.body{
    margin-top: 0;
}

.container{
    display: flex;
    width: 1400px;
    height: auto;
    flex-direction: column;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;

    .menu1{
        display: flex;
        padding: 16px 52px;
        flex-direction: row;
        align-items: center;
        background: #10BBD5;

        .menu1__content{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1053px;

            .menu1__logo{
                display: flex;
                width: auto;
                height: 28px;
                text-decoration: none;
                gap: 3px;

                .menu1__logo--img{
                    width: 26px;
                    height: 28px;
                }

                .menu1__logo--text{
                width: 115px;
                height: 29px;
                margin: 0;
                @include font_prime;
                font-size: 24px;
                font-weight: 700;
                }
            }

            .menu1__cart{
                display: flex;
                width: 99px;
                height: 40px;
                flex-direction: row;
                align-items: center;
                gap: 4px;

                .menu1__cart--bill{
                    width: 53px;
                    height: 24px;
                    margin: 0;
                    @include font_prime;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }

                .menu1__cart--icon{
                    display: flex;
                    width: 40px;
                    height: 40px;
                    background-image: url(images/cart_icon.png);
                    background-color:#10BBD5;
                    border: none;

                    .menu1__cart--num{
                        margin: 0;
                        padding: 12.5px 14.5px;
                        color: #000;
                        font-family: $font-stack;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 10px;
                    }
                }
            }
        }
    }

    .menu2{
        display:flex;
        padding: 4px 52px;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background: #FFF;

        .menu2__content{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 820px;

            .menu2__left_text{
                margin: 0;
                color: #000;
                font-family: $font-stack;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            .nav_menu{
                display: flex;
                margin: 0;
                flex-direction: row;
                align-items: center;
                gap: 40px;
                list-style-type: none;

                .nav_menu__item{
                    @extend .menu2__left_text;
                    text-decoration: none;
                }
                
            }
        }
    }
}

.main{
    display: flex;
    justify-content: center;
    background: var(--beige, #EEEEEF);
    position: relative;
    margin-top: 104px;

    .main__block{
        display: flex;
        width: 1296px;
        height: auto;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 88px;

        .main__head{
            display: flex;
            align-items: center;
            border-bottom: 2px solid #A8A8A8;

            .main__head--text{
                margin: 32px 0 32px 0;
                color: #1F1F1F;
                font-family: $font-stack;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
            }
        }
        
        .grid{
            display: grid;
            grid-template-columns: repeat(4, 306px);
            padding-bottom: 32px;
            grid-gap: 24px;
            grid-row-gap: 32px;

            .grid__card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-decoration: none;
                padding: 32px;
                gap: 16px;
                background-color: $primary-color;
                border: 1px solid #000;

                .image{
                    display: flex;
                    flex-direction: row;

                    .badge{
                        display: flex;
                        flex-direction: row;
                        gap: 3px;
                        position: absolute;
                        z-index: 50;

                        .badge__hit{
                            @include badge_base;
                            background: #4200FF;
                        }
                        
                        .badge__new{
                            @include badge_base;
                            background: #AF39E7;
                        }
                        
                        .badge__sale{
                            @include badge_base;
                            background: #EA33C0;
                        }
                    }

                    .book_cover{
                        width: 178px;
                        height: 280px;
                        margin: 0 32px;
                    }

                    .image__final_offer{
                        @extend .book_cover;
                        background-image: url(images/final_offer.jpg);
                    }

                    .image__it_ends_with_us{
                        @extend .book_cover;
                        background-image: url(images/it_ends_with_us.jpg);
                    }

                    .image__atomic_habits{
                        @extend .book_cover;
                        background-image: url(images/atomic_habits.jpg);
                    }
                    
                    .image__the_creative_act{
                        @extend .book_cover;
                        background-image: url(images/the_creative_act.jpg);
                    }
                    
                    .image__spare{
                        @extend .book_cover;
                        background-image: url(images/spare.jpg);
                    }
                    
                    .image__digital_minimalism{
                        @extend .book_cover;
                        background-image: url(images/digital_minimalism.jpg);
                    }
                    
                    .image__meditations{
                        @extend .book_cover;
                        background-image: url(images/meditations.jpg);
                    }
                    
                    .image__httlre{
                        @extend .book_cover;
                        background-image: url(images/httlre.jpg);
                    }
                    
                    .image__the_meditations{
                        @extend .book_cover;
                        background-image: url(images/the_meditations.jpg);
                    }
                    
                    .image__lives_of_the_stoics{
                        @extend .book_cover;
                        background-image: url(images/lives_of_the_stoics.jpg);
                    }
                    
                    .image__dopamine_nation{
                        @extend .book_cover;
                        background-image: url(images/dopamine_nation.jpg);
                    }
                    
                    .image__i_dont_need_therapy{
                        @extend .book_cover;
                        background-image: url(images/i_dont_need_therapy.jpg);
                    }
                }

                .info{
                    display: flex;
                    flex-direction: column; 
                    justify-content: flex-start;

                    .info__title{
                        display: flex;
                        width: 242px;
                        margin: 0;
                        overflow: hidden;
                        color: var(--black, #1F1F1F);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: $font-stack;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                        border-bottom: 2px solid #A8A8A8;
                    }

                    .info__author{
                        @extend .info__title;
                        color: var(--gray, #8E8E8E);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        border-bottom: none;
                    }

                    .price{
                        display: flex;
                        width: 242px;
                        height: 32px;
                        align-items: center;
                        flex-direction: row;
                        margin-top: 8px;
                        gap: 24px;

                        .price__now{
                            margin: 0;
                            color: #E90000;
                            font-family: $font-stack;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 650;
                            line-height: 32px;
                        }

                        .price__old{
                            @extend .price__now;
                            color: var(--gray, #8E8E8E);
                            text-decoration: line-through;
                        }
                    }
                }

                .button__add_to_basket{
                    display: flex;
                    padding: 8px 24px;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    border-radius: 4px;
                    background: var(--eggplant, #4C394E);
                
                    color: var(--white, $primary-color);
                    text-align: center;
                    font-family: $font-stack;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
                
                .button__end_up{
                    @extend .button__add_to_basket;
                    background: #4D762D;
                }
            }
        }

        .chat_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            position: fixed;
            margin: 610px 0 0 1256px;
            z-index: 100;
            background-image: url(images/ellipse.png);

            .chat_icon__img{
                width: 51.2px;
                height: 51.2px;
                background-image: url(images/icon.png);
            }
        }
    }
}

.footer{
    display: flex;
    height: 88px;
    align-items: center;
    background: var(--eggplant, #4C394E);
    position: relative;

    .copyright_block{
        display: flex;
        padding: 32px 52px;
        flex-direction: row;
        gap: 1110px;

        .copyright_block__copy_year{
            color: var(--white, $primary-color);
            font-family: $font-stack;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
        
        .copyright_block__warning{
            @extend .copyright_block__copy_year;
        }
    }
}