@import "./variables.scss";

@mixin font_prime{
    color: $primary-color;
    font-family: $font-stack;
    font-style: normal;
    line-height: normal;
}

@mixin badge_base{
    display: flex;
    width: auto;
    height: 32px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;

    color: $primary-color;
    text-align: center;
    font-family: $font-stack;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

